{% extends "layout_logged_in.html" %}
{% block content %}
<style>
    .content {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        padding-top: 120px;
    }
</style>
<div class="content">
    <div class="upload-section">
        <h2>Upload a PDF</h2>
        <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
            <!-- <input type="file" name="file" accept="application/pdf" required> -->
            <input type="file" id="fileInput" name="file" accept="application/pdf" required>
            <label for="fileInput" class="custom-file-upload">
                <img class="upload-icon" src="../static/blue-upload.png" alt="Upload PDF">
            </label>

            <div id="upload-status">
                <div class="loading-spinner" id="loadingSpinner"></div>
                <button id="startGenerating" style="font-size: 1em;" type="button" onclick="submitForm()">Start Generating</button>
            </div>
        </form>
        
    </div>
    <div class="library-section">
        <h2>My Library</h2>
        <a href="/library">
            <img class="blue-folder" src="../static/blue-folder.png" alt="My Library">
        </a>
    </div>
</div>
<script>
    function submitForm() {
        document.getElementById('uploadForm').submit();
        document.getElementById('loadingSpinner').style.display = 'block';
        document.getElementById('startGenerating').style.display = 'none';
    }
</script>
{% endblock content %}