{% extends "layout_logged_in.html" %}
{% block content %}
        <div class="content">
            <div class="upload-section">
                <h2>Upload a PDF</h2>
                <form id="uploadForm" action="/upload" method="post" enctype="multipart/form-data">
                    <!-- <input type="file" id="pdf-upload" accept="application/pdf" hidden> -->
                    <input type="file" name="file" accept="application/pdf" required>
                    <img src="../static/icons8-upload-file-48.png" alt="Upload PDF" onclick="submitForm()">
                </form>
            <div id="upload-status"></div>
        </div>
        <div class="library-section">
            <h2>My Library</h2>
            <a href="/library">
                <img src="../static/icons8-folder-48.png" alt="My Library">
            </a>
        </div>
    </div>
    </body>
</html>

<script>
    function submitForm() {
        document.getElementById('uploadForm').submit();
    }
</script>
{% endblock content %}