<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Pal - My Library</title>
    <link rel="stylesheet" href="../static/main.css">
</head>
<body class="layout-body">
    <header class="layout-header">
        <h1 class="layout">PDF Pal</h1>
        <nav>
            <a class="layout" href="./">Home</a>
            <a class="layout" href="./login">Sign Out</a>
        </nav>
    </header>
    <div>
        {% block content %}{% endblock %}
    </div>
    
</body>
</html>
