<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Pal - My Library</title>
    <link rel="stylesheet" href="../static/main.css">

    <!--fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap" rel="stylesheet">
</head>
<body class="layout-body">
    <header class="layout-header">
        <div class="flex">
            <a href="/dashboard">
                <img src="../static/logo.png" alt="PDF Parser Logo" class="logo-img">
            </a>
            <a style="text-decoration: none;" href="/dashboard"><h1 class="layout-h1 kode-mono-header">PDF Parser</h1></a>
        </div>
        <nav>
            <p>Hello, {{ current_user.id }}</p>
            <button class="signup-button"> <a class="layout nav-link" href="./dashboard">Dashboard</a></button>
            <button class="signup-button"> <a class="layout nav-link" href="./library">My Library</a></button>
            <button class="signup-button"><a class="layout nav-link" href="./logout">Log out</a></button>
        </nav>
    </header>

        {% block content %}{% endblock %}

    
</body>
</html>
