{% extends "layout_logged_in.html" %}
{% block content %}
    <main>
        <a href="dashboard" class="back-link">← Back to dashboard</a>

        <h2 class="left-margin">My Library</h2>

        <div class="library" id="library">
            {% for pdf_name in pdf_files %}
                <div class="file-card" onClick="openModal('{{ pdf_name }}')"> <!--?file={{ pdf_name }}-->
                    {{ pdf_name }}
                </div>
            {% endfor %}
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <h3 id="modal-title"></h3>
                <audio id="audio" controls></audio>
                <p id="summary-text"></p>
                
            </div>
        </div>
    
        <script>
            function openModal(pdfName) {
                fetch(`/get_file_data?pdf_name=${pdfName}`)
                    .then(response => response.json())
                    .then(data => {
                        document.getElementById('modal-title').innerText = pdfName;
                        // const audio = document.getElementById('audio');
                        // audio.innerHTML = data.audio_filename;
                        // console.log(data.audio_filename);
                        const audio = document.getElementById('audio');
                        if (data.audio_filename) {
                            audio.src = `/audios/${data.audio_filename}`;
                            audio.style.display = 'block';
                        } else {
                            audio.style.display = 'none';
                        }

                        const summaryText = document.getElementById('summary-text');
                        summaryText.innerHTML = data.summary_text;
                        // if (data.audio_filename) {
                        //     const audioItem = document.createElement('li');
                        //     audioItem.innerText = data.audio_filename;
                        //     audioList.appendChild(audioItem);
                        // }
                        document.getElementById('modal').style.display = 'block';
                    })
                    .catch(error => console.error('Error fetching file data:', error));
            }
    
            function closeModal() {
                document.getElementById('modal').style.display = 'none';
            }
    
            window.onclick = function(event) {
                if (event.target == document.getElementById('modal')) {
                    closeModal();
                }
            }
        </script>
           
    </main>
{% endblock content %}

