{% extends "layout_logged_in.html" %}
{% block content %}
    <main>
        <a href="dashboard" class="back-link">← Back to dashboard</a>

        <h2 class="left-margin">My Library</h2>

        <div class="library" id="library">
            {% for mp3_name in mp3_names %}
                <div class="file-card" onClick="openModal('{{ mp3_name }}')"> 
                    <p>{{ mp3_name }}</p>
                </div>
            {% endfor %}
        </div>

        <div id="modal" class="modal">
            <div class="modal-content">
                <span class="close" onclick="closeModal()">&times;</span>
                <div class="audio-and-title">
                    <h3 id="modal-title"></h3>
                    <audio id="audio" controls>Your browser doesn't support the audio element</audio>
                    
                </div>
                <div class="modal-text">
                    <p id="summary-text"></p>
                </div>
                
            </div>
        </div>
    
        <script>
            const userId = "{{ user_id }}";

            async function loadAudio(userId, mp3Filename) {
                try {
                    const response = await fetch(`/fetch_audio/${userId}/${mp3Filename}`);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const audioBlob = await response.blob();
                    const audioUrl = URL.createObjectURL(audioBlob);
                    const audioPlayer = document.getElementById('audio');
                    audioPlayer.src = audioUrl;
                    audioPlayer.load();
                } catch (error) {
                    console.error('Error fetching audio:', error);
                }
            }

            async function loadText(userId, filename) {
                try {
                    const response = await fetch(`/fetch_text/${userId}/${filename}`);
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    const textResponse = await response.json();
                    const textPara = document.getElementById('summary-text');
                    
                    if (textResponse.text) {
                        textPara.innerHTML = textResponse.text;
                    } else {
                        textPara.innerHTML = `Text not found. Please try again.`;
                        throw new Error('Text not found in response');
                    }
                } catch (error) {
                    console.error('Error fetching text:', error);
                }
            }

            function openModal(mp3Filename) {
                loadAudio(userId, mp3Filename);
                loadText(userId, mp3Filename.slice(0, -4));
                
                document.getElementById('modal-title').innerHTML = mp3Filename.slice(0, -4);
                document.getElementById('modal').style.display = 'block';
            }
    
            function closeModal() {
                document.getElementById('modal').style.display = 'none';
                const audioPlayer = document.getElementById('audio');
                audioPlayer.pause();
                audioPlayer.currentTime = 0;
            }
    
            window.onclick = function(event) {
                if (event.target == document.getElementById('modal')) {
                    closeModal();
                }
            }
        </script>
           
    </main>
{% endblock content %}

