{% extends "layout.html" %}
{% block content %}
<body class="login-body">
    <a href="/" class="back-link">← Back to home</a>
    <div class="container">
        <div class="login-card">
            <h1>Login</h1>
            <form method="post" action="/login">
                <div class="input-group">
                    <label for="login">Username</label>
                    <input id="login" name="login" type="text" required minlength="5" maxlength="100">
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required minlength="8" maxlength="128">
                    <input type="checkbox" onclick="toggleVisibility()">Show Password
                    <script>
                        function toggleVisibility() {
                            var password = document.getElementById("password");
                            if (password.type === "password") {
                                password.type = "text";
                            } else {
                                password.type = "password";
                            }
                        }
                    </script>
                </div>
                <button type="submit" class="btn">Login</button>
                <p class="small-text">
                    Don't have an account? <a href="register">Register here.</a>
                </p>
            </form>
        </div>
    </div>
</body>
{% endblock content %}
