<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width", initial-scale=1.0">
        <title>PDF Pal - Register</title>
        <link rel="stylesheet" href="../static/main.css">
    </head>
    <body>
        <div class="container">
            <div class="register-card">
                <h1>PDF Pal</h1>
                <button class="google-auth-btn">
                    <img src="https://img.icons8.com/color/16/000000/google-logo.png" alt="Google Logo">
                    Sign up with Google
                </button>
            </div>
        </div>
    </body>
</html>